// Place all the styles related to the Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answers {
  .best {
    border-color: darkseagreen;

    .set_best {
      display: none;
    }
  }
  .actions {
    a:nth-of-type(n+2) { margin-left: 15px; }
  }
}