// Place all the styles related to the Votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.votes {
  float: right;
  .votes_count {
    margin: 0 10px;
    cursor: default;
  }
  .disabled {
    cursor: default;
    &:hover {cursor: default;}
    i {
      color: #D7D7D7;
      &:hover {
        color: #D7D7D7;
      }
    }
  }
}
